:root {
  --black-color: #000;
}

body {
  background-color: var(--black-color);
}

.bars-icon {
  color:white;
  font-size: 34px;
}

.wrapper {
  padding: 50px 307px;
}

@media(max-width:1500px) {
  .wrapper {
    padding: 50px 100px;
  }
}


@media(max-width:1200px) {
  .wrapper {
    padding: 50px;
  }
}