:root {
  --black-color: #000;
}

body {
  background-color: var(--black-color);
}

.bars-icon {
  color:white;
  font-size: 34px;
}

.wrapper {
  padding: 50px 307px;
}

@media(max-width:1500px) {
  .wrapper {
    padding: 50px 100px;
  }
}


@media(max-width:1200px) {
  .wrapper {
    padding: 50px;
  }
}

.card-img-top {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.cart {
  padding: 20px;
  color:white;
}

.cart p, .cart h5 {
  margin: 20px 0;
}


.cart {
  transition: 0.5s ease-in;
}
.cart:hover {
  box-shadow: 10px 15px 30px rgba(255,0,0);
}